
body {
    background-image: url(logo.png), url(pozadina2.png);
    background-position: bottom right, center; 
    background-size: 70px 70px, cover;
    background-repeat: no-repeat, no-repeat;
    background-color: oldlace;
}


form {
    background-color: blanchedalmond;
    border: 2px solid maroon;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px lightsalmon;
}

h1 {
    text-shadow: -2px -2px 4px blanchedalmond;
    font-size: 60px;
    margin-top: 30px; 
    color: blanchedalmond;
    -webkit-text-stroke: 1px maroon;
}

h3 { 
    font-style: italic;
}

/*animacijata se aktivira koga ke se stavi mouse cursor na nea
img {
    transition: transform 5s;
}

img:hover {
    transform: rotate(360deg) scale(1.5,1.5);
}*/

input[type="submit"], input[type="reset"] {
    background-color: lightsalmon;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: maroon;
}

